/* styles.css */
body {
	background-color: #c7add3;
	font-family: 'Courier New', Courier, monospace, sans-serif;
}
h1 {
	color: rgb(53, 7, 53);
	font-size: 500 px;
	text-align: center;
	 font-family: "Courier New", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 100px;
}

h2 {
	color: rgb(53, 7, 53);
	font-size: 40 px;
	text-align: center;
	 font-family: "Courier New", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 25px;
}
.cakereborn {
   margin-left: 475px; 
}
.firstpics{
	margin-left: 120px;
}
.secpics {
	margin-left: 120px;
}
.threepics {
margin-left: 120px;
}
.fourpics {
	margin-left: 20px;
	margin-top: 70px;
}
.fivepics {
	margin-left: 210px;

}
.sixpics {
	margin-left: 100px;
}
.sevpics {
	margin-left: 90px;
}
.eightpics {
	margin-left: 375px;
}
.ninepics{
	margin-left: 460px;
}
.tenpics {
	margin-left:120px;
}
.elvpics {
	margin-left: 460px;
}
.lastpics {
margin-left: 425px;
}